<div class="row">
  <div class="col-md-8 col-md-offset-2">

  <%= form_for(search_pins_path, method: "get", class:"form-inline") do %>
    <%= label_tag(:title, "Search for:") %>
    <%= text_field_tag(:title, nil, placeholder: "Pins") %>
    <%= submit_tag("Search") %>
  <% end %>


<h1>Listing Pins</h1>
<% if @search %>
  <h3>Search results for <%= @search %></h3>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Board ID</th>
      <th>Board Name</th>
      <th>Title</th>
      <th>Image</th>
      <% if @current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.board_id %></td>
        <td><%= pin.board.name unless pin.board.blank? %></td>
        <td><%= pin.title %></td>
        <td><%= link_to image_tag(pin.image.url(:thumb)), pin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <%= paginate @pins %>
  </div>
</div>
