<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>
<% if @search %>
  <h3>Search results for <%= @search %></h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Board ID</th>
      <th>Board Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.board_id %></td>
        <td><%= pin.board.name %></td>
        <td><%= pin.title %></td>
        <td><%= pin.description %></td>
        <td><%= pin.url %></td>
        <td><%= image_tag pin.image.url(:thumb) %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pins %>
