<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong></br>
  <%= image_tag @user.avatar.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Boards:</strong>
  <%= @user.boards.count %>
</p>

<p>
  <strong>Place Holder to display all boards below in grid. Click on board to link_to board:</strong>
</p>

<%= link_to 'New Board', new_user_board_path(@user) %> | 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
