<h1>Pinterest</h1>

<%= link_to 'User Profile', user_path(@current_user) %>


<div class="row">
  <div class="col-md-12">
    <div class="masonry">
      <% @boards.each do |board| %>
        <% board.pins.shuffle.each do |pin| %>
          <div class="item">
            <div class="boardContainer">
              <%= link_to image_tag(pin.image.url(:board), class: "pinimg"), pin %>
              <h3 class="boardName"><%= pin.title %></h3>
              <a href= "<%= pin.url %>" style="text-decoration:none;">
                <div class="pin">
                  Pinned from</br>
                  <%= truncate(pin.url, length:35) %>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
