<div class="container-fluid profilehead">
  <h1 style="text-align:center;">Pinterest</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="masonry">
          <% @pins.each do |pin| %>
            <div class="item">
              <div class="boardContainer">
                <%= link_to image_tag(pin.image.url(:pinsize), class: "pinimg"), pin %>
                <h3 class="boardName"><%= pin.title %></h3>
                <div class="pin">
                  Owner: <%= pin.board.user.name %></br>
                  Board: <%= pin.board.name %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= paginate @pins %>
</div
