<div>
<h1><%= @board.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @board.user.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<div class="row">
  <div class="col-md-12">
    <div class="masonry">
      <div class="item"><%= link_to image_tag('add_pin.png'), new_pin_path(:board_id => @board.id) %></div>
      <% @board.pins.shuffle.each do |pin| %>
        <div class="item"><%= link_to image_tag(pin.image.url(:board)), pin %></div>
      <% end %>
    </div>
  </div>
</div>




</br>
<%= link_to 'Edit Bard', edit_user_board_path(@board.user, @board) %> |
<%= link_to 'All Boards', user_boards_path(@board.user) %> |
<%= link_to 'User Profile', user_path(@user) %>
</div>
