<div class="container-fluid profilehead">
  <p id="notice"><%= notice %></p>
  <h1><%= @board.name.upcase %></h1>
  <p>
    <strong>User:</strong>
    <%= @board.user.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @board.description %>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="masonry">

          <!-- Button trigger modal -->
          <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
            <%= image_tag('add_pin.png') %>
          </button>
          <!-- Modal -->

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create a Pin</h4>
                </div>

                <div class="modal-body">
                  <%= render "formpin" %>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

              </div>
            </div>
          </div>


        <% @board.pins.shuffle.each do |pin| %>
          <div class="item boardContainer">
              <%= link_to image_tag(pin.image.url(:pinsize), class:"pinimg"), pin %>
              <h3 class="boardName"><%= pin.title %></h3>
              <a href= "<%= pin.url %>" style="text-decoration:none;">
                <div class="pin">
                  Pinned from</br>
                  <%= truncate(pin.url, length:35) %>
                </div>
              </a>
          </div>
        <% end %>


      </div>
    </div>
  </div>


  </br>
  <%= link_to 'Edit Bard', edit_user_board_path(@board.user, @board) %> |
  <%= link_to 'All Boards', user_boards_path(@board.user) %> |
  <%= link_to 'User Profile', user_path(@user) %>
</div>
