<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-custom">
    <div class="navbar-header">
        <%= link_to image_tag('pinterest.png', width: '35px'), root_path %>
        <%= link_to "Search Pins", '/pins/search', class:"btn btn-default" %>
      </div>
      <% if signed_in? %>
      <p class="navbar-right"><%= link_to 'Sign Out', session_signout_path, method: :delete %> </p>
        <p class="navbar-right"><%= link_to image_tag(current_user.avatar.thumb.url, width: "40px;"), user_path(current_user) %> <% if current_user.admin? %>| <%= link_to "Admin", admin_root_path %> <% end %></p>
        <p class="navbar-right"  style="padding:5px;">Hello <%= current_user.name %>!</p>
      <% else %>

      <p class="navbar-right">

        <%= link_to 'Sign up!', new_user_path %>

        <%= form_tag({controller: 'session', action: "signin"}) do %>
          <%= label_tag(:email, 'Email:') %>
          <%= text_field_tag(:email) %>
          <%= password_field_tag(:password) %>
          <%= submit_tag("Sign In") %>
        <% end %>


      </p>

      <% end %>
    </div>
  </div>
</nav>
